.el-select-dropdown .el-scrollbar.is-empty .el-select-dropdown__list {
    padding: 0;
}

.el-time-spinner__wrapper
.el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 15px;
}

.el-scrollbar {
    overflow: hidden;
position: relative;
}

.el-scrollbar:active > .el-scrollbar__bar,
.el-scrollbar:focus > .el-scrollbar__bar,
.el-scrollbar:hover > .el-scrollbar__bar {
    opacity: 1;
    transition: opacity 0.34s ease-out;
}

.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%;
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    transition: background-color 0.3s;
}

.el-scrollbar__thumb:hover {
    background-color: rgba(144, 147, 153, 0.5);
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.12s ease-out;
}

.el-scrollbar__bar.is-vertical {
    top: 2px;
    width: 6px;
}

.el-scrollbar__bar.is-vertical > div {
    width: 100%;
}

.el-scrollbar__bar.is-horizontal {
    left: 2px;
    height: 6px;
}

.el-scrollbar__bar.is-horizontal > div {
    height: 100%;
}